.container {
	margin: 30px auto;
	width: 60%;
	border: 20px solid black;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.container div {
	width: 5%;
	height: 10px;
	background-color: black; 	
	display: inline-block;
	font-size: 0;
	margin: -4px 0;
}

h1 {
	text-align: center;
	font-size: 3em;
	font-family: helvetica, sans-serif;
	margin-top: 50px; 
}